.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    margin-bottom: 25px;
    border: 1px dotted black;

    .logo-container {
        height: 100%;
        width: 70px;
        padding: 25px;
        border: 1px dotted green;
        .logo{

        }
    }

    .options {
        border: 1px dotted purple;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        .option{
            padding: 10px 15px;
        }
    }
}